@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --dark-primary: var(--color-zinc-600);
    --dark-secondary: var(--color-zinc-500);
    --dark-tertiary: var(--color-zinc-800);
    --light-primary: var(--color-lime-400);
    --light-secondary: var(--color-teal-400);
    --light-tertiary: var(--color-emerald-400);
    --highlight: var(--color-fuchsia-700);
}

@media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
